{% include "header.html" %}

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="img-fluid mb-5 d-block mx-auto" src="{{ url_for('static', filename='img/profile.png') }}" alt="">
    <h1 class="text-uppercase mb-0">Login or Register</h1>
    <hr class="star-light">
  </div>
<!-- Login_Register form -->
  <div class="flip-container">
  <div class="flipper" id="flipper">
  	<div class="front">
  		<h3 class="title">Login</h3>
  		<form>
  					<input class="inputtext" type="text" placeholder="Username" />
  					<input class="inputtext" type="password" placeholder="Password" />
  					<input type="button" value="Login"/>
  		</form>
  		<a class="flipbutton" id="loginButton" href="javascript:void(0)">Create my account →</a>
  	</div>

  	<div class="back">
  		<h3 class="title">Register</h3>
  		<form>
  				<input class="inputtext" type="text" placeholder="Username" />
  				<input class="inputtext" type="password" placeholder="Password" />
  				<input type="button" value="Sign up"/>
  		</form>
  		<a class="flipbutton" id="registerButton" href="javascript:void(0)">Login to my account →</a>
  	</div>
  </div>
  </div>
</header>

{% include "footer.html" %}
