{% include "header.html" %}

<!-- Upload section -->
<section class="portfolio" id="whatiscodercats">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Start coding</h2>
    <hr class="star-dark mb-5">
    <script>$("#input-id").fileinput({'showUpload':false, 'previewFileType':'any'})</script>
    <input id="input-id" type="file" class="file" data-preview-file-type="text">
  </div>
</section>




<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var ann = new Annotator(document.body)
}, false);
</script>

{% include "footer.html" %}
